<p style="width: 100%; text-align: center; padding-bottom: 20px;font-weight: bold;">&copy;2022 This product is not to be used, it is for learning and demonstrational purposes only.</p>
</body>
</html>