<%- include('./includes/head.ejs') %>
<%- include('./partials/navbar/vertical-nav.ejs') %>

<div class="dashboard--container">
  <div class="dashboard">
    <div class="low-quantity--preview dash--preview">
      <div class="dash--data"></div>
    </div>
    <div class="expiring-soon--preview dash--preview">
      <div class="dash--data"></div>
    </div>
  </div>
</div>

<%- include('./includes/foot.ejs') %>
