<%- include('./includes/head.ejs') %>
<%- include('./partials/navbar/vertical-nav.ejs') %>

<div class="dashboard--container">
  <div class="dashboard">
    <div class="low-quantity--preview"></div>
    <div class="expiring-soon--preview"></div>
  </div>
</div>

<%- include('./includes/foot.ejs') %>
