:root {
  --clr-nav: hsl(0, 0%, 75%);
  --clr-nav-btn: hsl(0, 0%, 70%);
  --clr-nav-selected: hsl(0, 0%, 55%);
  --clr-bg: white;
  --clr-list: white;
  --clr-list-2: hsl(0, 0%, 90%);
  --clr-accent: #FC8803;
}

/* universal styles */

* {
  margin: 0;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  margin-left: min(20vw, 300px);
  max-width: calc(100vw - 300px);
  overflow-x: hidden;
}

h1 {
  font-size: 96pt;
}

h2 {
  font-size: 40pt;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.center {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.right {
  width: 100%;
  justify-content: end;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Nav Bar */

.vertical-nav {
  width: 20vw;
  max-width: 300px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: var(--clr-nav);
}

.vertical-nav .logo--container {
  width: 100%;
  height: 20%;
}

.vertical-nav .nav {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.vertical-nav .logo {
  width: 80%;
  height: auto;
}

.horizontal-nav {
  width: 100vw;
  height: 15vh;
  max-height: 300px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  background-color: var(--clr-nav);
}

.horizontal-nav .logo--container {
  width: 20%;
  height: auto;
}

.horizontal-logo-a {
  height: 100%;
}

.horizontal-nav .nav {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.horizontal-logo {
  width: auto;
  height: 80%;
}

.nav-btn {
  width: 35%;
  height: 7.5vh;
  border-radius: 10px;
  background-color: var(--clr-nav-btn);
}

.nav-btn-img {
  width: auto;
  height: 80%;
}

/* list-view styles */

.content {
  width: 80vw;
  height: auto;
}

.header {
  width: 100%;
  height: 10%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 900;
  padding-right: 35px;
  background-color: var(--clr-bg);
}

.add-btn {
  width: 50px;
  height: 40px;
  border-radius: 25px;
  background-color: var(--clr-nav-btn);
}

.add-btn img {
  height: 80%;
  width: auto;
}

.data {
  margin: 10vh 5% 0 5%;
}

.row {
  width: 100%;
  height: 7.5vh;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.product {
  grid-template-columns: 30% 30% 30% 10%;
  grid-template-rows: 100%;
}

.employee {
  grid-template-columns: 40% 30% 20% 10%;
  grid-template-rows: 100%;
}

.row:nth-child(odd) {
  background-color: var(--clr-list-2);
}

.details-btn {
  width: 50px;
  height: 40px;
  border-radius: 25px;
  background-color: var(--clr-nav-btn);
}

.details-btn img {
  height: 80%;
  width: auto;
}


/* Employee Detail */

.title {
  font-size: 96pt;
}

.employee-data h2 {
  margin: 40px 0px 20px;
}

.employee-data .contact-info {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-left: 10px;
}

.employee-data .employee-info {
  display: flex;
  width: 41.5%;
  justify-content: space-between;
  padding-left: 10px;
}

.employee-data .address-info {
  padding-left: 10px;
}

.employee-data #name-title {
  margin-top: 30px;
}

.edit-item {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 70px;
  border-radius: 20px;
  margin-right: 5vw;
  margin-bottom: 5vw;
  background-color: var(--clr-nav-btn);
}

.edit-item img {
  height: 70%;
  width: auto;
  margin-left: 5px;
}

.employee-data button {
  margin-top: 5%;
}

.data .details-info {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-left: 10px;
}

.data .button-list {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 240px;
  margin-right: 5vw;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-list .product-btn {
  width: 80px;
  height: 70px;
  border-radius: 20px;
  background-color: var(--clr-nav-btn);
}

.product-btn img {
  height: 70%;
  width: auto;
  margin-left: 5px;
}

.edit-ingredients {
  display: flex;
  flex-direction: column;
}

.location-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.batch-details {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-left: 10px;
  margin-bottom: 25px;
}

/* Shop */

.shop--container {
  width: 100vw;
  height: 80vh;
  position: fixed;
  top: 20vh;
  left: 0;
  display: flex;
}

.shop--container .products {
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-auto-rows: 25%;
  row-gap: 30px;
  column-gap: 60px;
  justify-content: center;
  align-items: center;
}

.products .product {
  width: 100%;
  height: 100%;
  background-color: var(--clr-nav-btn);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
  place-items: center;
  text-align: center;
}

.products .product:hover {
  cursor: pointer;
}

.prod-img {
  width: 35%;
  height: 65%;
  background-color: var(--clr-nav);
  border-radius: 10px;
  margin-bottom: 20px;
}

.product .prod-img {
  margin: auto;
}

.shop--container .sale {
  width: calc(40% - 40px);
  height: 100%;
  margin-left: 40px;
}

.sale .item-list {
  height: 35vh;
  width: 90%;
  overflow-y: scroll;
  padding-right: 30px;
}

.item-list .item {
  width: 100%;
  height: 7vh;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 15% 70% 10% 5%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
  background-color: var(--clr-nav-btn);
  margin: 15px 0px;
}

.item .prod-img {
  width: 80%;
  height: 70%;
  margin-bottom: 0;
}

.item .remove-item {
  width: 15px;
  height: 15px;
  position: relative;
  bottom: 45%;
  left: 45%;
}

.item .remove-item:hover {
  cursor: pointer;
}

.totals {
  width: 85%;
  height: 20vh;
  margin-top: 15px;
  padding: 30px;
  border-radius: 15px;
  background-color: var(--clr-nav-btn);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.totals>div {
  font-size: 18pt;
}

.checkout {
  width: calc(85% + 50px);
  height: 10vh;
  margin-top: 15px;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32pt;
  background-color: var(--clr-nav-selected);
}

.checkout img {
  height: 80%;
  width: auto;
  margin-right: 5%;
}

.checkout:hover {
  cursor: pointer;
}

.auth--container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  width: 30%;
  height: 30%;
  border-radius: 50px;
  padding: 30px;
  box-shadow: 0px 0px 8px 5px #888888;
}

.auth h1 {
  font-size: 32pt;
  letter-spacing: 1px;
}

.auth p {
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.auth .input--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input--container input {
  width: 70%;
  border: 0;
  border-bottom: 2px solid black;
  font-size: 16pt;
  font-weight: 600;
  letter-spacing: 1px;
}

.input--container input::placeholder {
  color: hsl(0, 0%, 75%);
}

.input--container input[type="number"]:focus {
  outline: none;
  border-bottom: 2px solid var(--clr-accent);
}

.auth .img--container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}

.img--container img {
  width: 15%;
  height: auto;
}

.auth-btn {
  width: 50px;
  height: 40px;
  border-radius: 25px;
  background-color: var(--clr-nav-btn);
}

.auth-btn:hover {
  cursor: pointer;
}

.auth-btn img {
  height: 80%;
  width: auto;
}

.prod-image {
  margin: 15px 0px 30px;
}

.reports--container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reports--container h1 {
  position: fixed;
  top: 10px;
  left: auto;
  right: auto;
}

.report {
  width: 20%;
  height: 30%;
  background-color: var(--clr-nav-btn);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
  place-items: center;
  text-align: center;
  cursor: pointer;
}

.report img {
  width: 50%;
  height: 75%;
  border-radius: 15px;
  background-color: var(--clr-nav);
}

.dashboard--container {
  width: 100%;
  height: calc(100% - 60px);
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 95%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  column-gap: 20px;
  row-gap: 20px;
}

.dash--preview {
  background-color: var(--clr-nav);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash--preview .dash--data {
  width: 90%;
  height: 90%;
  text-align: center;
}

.low-quantity--preview {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

.expiring-soon--preview {
  grid-column: 1 / span 3;
  grid-row: 3 / span 2;
}

.low-quantity {
  width: 90%;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-auto-rows: 1fr;
}

.expiring-soon {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  grid-auto-rows: 1fr;
  row-gap: 15px;
}

.invoice--container {
  width: 100%;
  height: 80vh;
  position: fixed;
  top: 20vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  overflow-y: scroll;
}

.invoice--container form {
  margin-bottom: 50px;
}

.invoice--header {
  width: 60%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.invoice--header .logo {
  height: 100%;
}

.invoice--header img {
  height: 100%;
}

.invoice--body {
  width: 60%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-auto-rows: 50px;
  margin: 30px 0px;
  text-align: center;
}

.invoice--body .heading {
  font-size: 24pt;
}

.invoice--totals .totals {
  background-color: var(--clr-bg);
}

.invoice--container input {
  width: 70%;
  border: 0;
  border-bottom: 2px solid black;
  font-size: 16pt;
  font-weight: 600;
  letter-spacing: 1px;
}

.invoice--container input::placeholder {
  color: hsl(0, 0%, 75%);
}

.invoice--container input:focus {
  outline: none;
  border-bottom: 2px solid var(--clr-accent);
}

.report--container {
  width: calc(100% - 70px);
  height: auto;
  margin-left: 35px;
}

.report--container .dash--preview {
  width: 100%;
  margin-top: 25px;
  height: 75vh;
  justify-content: flex-start;
  flex-direction: column;
}

.report--container form {
  width: 100%;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.report--container button {
  margin-left: 20px;
}

.report--container label {
  margin-right: 10px;
  font-weight: bold;
}

.report--container .dash--data {
  margin-top: 25px;
  overflow-y: scroll;
}

.report--container .low-quantity {
  grid-auto-rows: 30px;
  row-gap: 15px;
}

.report--container .expiring-soon {
  grid-auto-rows: 30px;
  row-gap: 15px;
}